body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
}
a {
    color: white;
}
.menu {
    margin: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li {
    display: inline;
}
